.card {
    minWidth: 275,
}

.politicalTitle {
    fontSize: 18;
}

typography {
    fontSize: 20;
    font-family: "Cooper Black";
}

.pos {
    marginBottom: 12;
}

.politicalCard {
    width: 275px;
    height: 355px;
}

CardMedia {
    height: 140px;
}

img {
    height: 275px;
    width: 275px;
}

.complete {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
